//rename this file to .env

WEATHER_API_KEY= //here you need to add your own OpenWeatherMap api key 
DATABASE_URL= //here you need to add your own postgresql database url 
JWT_SECRET=//here you need to write JWT secret